<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>INVALID URL</h1>
    </div>
</div>

<script>
    function redirect(page) {
        location.href = page;
    } 
    window.onload=setTimeout(()=> window.location.replace('/products'), 3000)
</script>